/.skyscraper= image_tag("/images/160x600.gif")
.skyscraper
  %script{ :type => "text/javascript" }
    <!--
    google_ad_client = "pub-4003421104235806";
    google_ad_slot = "3281460291";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
  %script{ :type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js" }