%h3 Terms of Use
%hr
%h5 Introduction
%p The services provided by Knotebooks ("the Site") are operated by Unobtainium Labs, Inc. and its subsidiaries and affiliates ("us," "we" or "Knotebooks"). By using or accessing Knotebooks you agree that you have read, understand and are bound by these Terms of Use ("Terms"). We reserve the right, at our sole discretion, to change or delete portions of these Terms at any time and without further notice. Your continued use of Knotebooks after any such changes constitutes your acceptance of the new Terms. If you do not agree to any of the Terms, please refrain from using the Site entirely.
%h5 Privacy Policy
%p 
  We respect your online privacy and we ask that you read our entire Terms of Use policy carefully before using this site, so this section details:
  %ol 
    %li what information we may collect from or about you, and how we collect such information;
    %li how we use such information; and
    %li what rights and choices you have regarding such information.
%p We will only collect your first and last name to properly identify you and your User Content; and your email address to send you news, updates, announcements, newsletters, and other electronic communications from Unobtainium Labs, Inc. Your email address will NOT be made public and will be used for all purposes related to your membership, including, without limitation: providing administrative, maintenance and support services to Member accounts and profiles; responding to Member inquiries, requests and complaints; providing Members with news, updates, announcements, newsletters, etc. about the Site and Unobtainium Labs, Inc.; and notifying Members of any material change in our Privacy Policy or Terms of Use as well as of any actual or suspected security breach or compromise involving Members' personal information.
%p IN NO EVENT DO WE KNOWINGLY SHARE YOUR PERSONAL INFORMATION WITH OTHERS FOR THEIR DIRECT MARKETING USE.
%h5 Membership Cancellation
%p You may at any time request to cancel and have your membership account and Profile removed from the Site, provided that your request to cancel is in writing and sent to us via email to support@knotebooks.com. After such cancellation and removal, we will cease using your personal information for all purposes, but may preserve and disclose your Profile information if doing so is required by law or, in our good faith belief, is reasonably necessary to: (a) comply with legal process; (b) enforce this Terms of Use; (c) respond to claims that any User Content violates the rights of third parties; (d) respond to an emergency; or (e) protect the rights, property or safety of Unobtainium Labs, Inc., its Users, and/or the public.
%h5 Profile Setting
%p Subject to the limited exceptions set forth above, we do not publish or share with others a Member's personal information contained in his or her Profile (on the other hand, your Bio and your username will always be public information and visible to others). You understand that any personal information you publish or share on the Site may be used by others to harass or harm you, and you do so entirely and solely at your own risk.
%h5 Update and Correction
%p As a Member, you may log into your account at any time to modify, update and correct your Profile information. However, you understand and acknowledge that certain personal information (e.g., your name and email address) cannot be deleted without us having to cancel your membership account.
%h5 Cookies
%p The Site may use cookies, which is a small encrypted data string stored on your computer or device. Cookies help us deliver content specific to your interests and permit our servers to recall information from your previous visits to the Site. We may use information collected from cookies together with personal information we have collected from you. We do not, however, use cookies to access information on your computer or device. Most Internet browsers allow you to adjust the settings to prevent cookies from being stored on your computer or device.
%h5 Eligibility
%p You may not use Knotebooks if you are under 13 years of age. If you are between the ages of 13 and 17, we strongly suggest that you seek parental consent to use the Site. If you are required to register as a sex offender in any jurisdiction, you may not use the Site at all.
%h5 Registration and Security
%p When you register for and use Knotebooks you will be asked to provide personal information ("User Data"), which must be accurate at all times. You are solely responsible for maintaining the security of your User Data. If you suspect that your account is no longer secure, please contact us immediately.
%h5 User Responsibilities
%p 
  All User Content is the sole responsibility of the User or Users from whom such Content were originated. This means that you, and not Knotebooks, are entirely responsible for all User Content made by you. You acknowledge and agree that:
  %ul 
    %li Knotebooks may, but has no obligation to, pre-screen, review, edit or monitor any User Content;
    %li Knotebooks does not direct or control User Content and makes no representation or warranty whatsoever as to the accuracy, integrity, validity or legitimacy of any User Content;
    %li the Site is a public forum and there is no reasonable expectation of privacy by any User when accessing public areas on the Site;
    %li by voluntarily providing your Bio, you grant Knotebooks express permission to publish your Bio on the Site;
    %li for any User Data that you choose to publish, have published, or otherwise share with others on the Site, you are deemed to have expressly waived your right and expectation of privacy for such information; and
    %li under no circumstances will Knotebooks be responsible or liable for others' use or misuse of any information or data that you choose to publish, have published, or otherwise share with others on the Site.
%h5 Rules of Conduct
%p 
  By using the Site, you represent, warrant and agree that you will not:
  %ul
    %li do anything that could disable, overburden or impair the proper working of the Site;
    %li use any robot, spider, scraper or other automated means to access the Site;
    %li send spam or any other unauthorized advertisements or solicitations through or using the Site;
    %li harvest, collect or use addresses, phone numbers or email addresses or other contact information (collectively "Contact Information") of users of the Site without consent from such users;
    %li solicit private information (including social security numbers, credit card numbers and passwords) from users of the Site;
    %li provide any false personal information in your profile, create more than one profile, transfer your profile, create a profile for anyone other than yourself or create a page without authorization;
    %li use your profile for any commercial purpose without our prior written consent;
    %li offer any contest, sweepstakes, coupon or other promotion through the Site without our prior written consent;
    %li intimidate or harass any user;
    %li do anything the good Lord wouldn't do;
    %li do anything that is illegal, infringing, fraudulent, malicious or could expose Knotebooks or the Site users to harm or liability; or
    %li attempt, encourage or facilitate any of the above.
%h5 User Content
%p 
  By using or accessing the Site, you represent, warrant and agree that you will not publish:
  %ul
    %li User Content that violates the law or anyone's rights, including intellectual property ("IP") rights or other proprietary rights;
    %li any Contact Information or private information of any third party;
    %li knowingly false, misleading or fraudulent information;
    %li any material that contains software viruses or any other computer code designed to interrupt, destroy, or limit the functionality of any computer or telecommunications equipment; or
    %li User Content that is threatening, hateful, racially or ethnically offensive, or that depicts nudity, pornography or graphic or gratuitous violence, or anything else that we may consider offensive.
%p Knotebooks does not pre-screen, review, edit or approve any User Content unless otherwise stated. Knotebooks may, in its sole discretion, remove or disable access to any User Content. 
%p By using or accessing the Site, you represent, warrant and agree that all the User Content you Publish is done so without any expectation of compensation, monetary or otherwise. 
%p "User Content" means any photos, text, link, audio, video, designs, ads and anything else that you publish on or through the Site. "Publish" means to upload, post, publish, transmit, share, store, link to or otherwise make available on or through the Site.
%p Permission to reproduce content under the license and technical conditions applicable to Knotebooks has already been granted to everyone without request by the authors of individual articles and images, at least unless they violated our Terms by uploading copyrighted material without authorization or under incorrect licensing terms. For permission to use it outside these terms, one must contact all the volunteer authors of the text or illustration in question.
%h5 Creative Commons
%p 
  Knotebooks content can be copied, modified, and redistributed in many different ways, subject to the Creative Commons license applied to the User Content by the original and subsequent authors. It is the User's sole responsibility to ensure that he or she has the proper references in place when creating, modifying, editing, repurposing or reproducing in whole or in part any User Content. 
%p
  Every Knote on the Knotebooks platform has one of the following Creative Commons licenses. Click the link to read the full legal code of each license.
%p
  %ul.license_plates
    %li= link_to image_tag('/images/CC0.png') + "CC0 or Public Domain", 'http://creativecommons.org/about/cc0', :target => '_blank'
    %li= link_to image_tag('/images/CCBY.png') + "Attribution 3.0 United States", 'http://creativecommons.org/licenses/by/3.0/us/legalcode', :target => '_blank'
    %li= link_to image_tag('/images/CCBYSA.png') + "Attribution-ShareAlike 3.0 United States", 'http://creativecommons.org/licenses/by-sa/3.0/us/legalcode', :target => '_blank'
    %li= link_to image_tag('/images/CCBYNCSA.png') + "Attribution-Noncommercial-ShareAlike 3.0 United States", 'http://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode', :target => '_blank'
%h5 Intellectual Property Complaints
%p We respect the IP rights of others and we prohibit users from publishing User Content that violates another party's IP rights. When we receive a proper claim of IP infringement, we promptly remove or disable access to the allegedly infringing User Content. We also terminate the accounts of repeat infringers in appropriate circumstances. If you believe that User Content on the Site infringes your IP rights, please contact us immediately and all claims will be handled in accordance with the above Creative Commons license.
%h5 Ownership; Proprietary Rights
%p Except for User Content, all materials, content and trademarks on the Site are the property of Unobtainium Labs, Inc. and/or its licensors and are protected by all relevant IP laws and other proprietary rights (including copyright, trademark, trade dress and patent laws) and any other applicable laws. Without limiting the foregoing, Knotebooks, the Knotebooks Logo and all related logos, are trademarks of Knotebooks. Except as expressly authorized by Knotebooks in writing, you agree not to use, sell, license, distribute, copy, post, stream, publicly perform or display, transmit, reformat, modify, edit, frame, translate, excerpt, adapt, create derivative works or otherwise make unauthorized use of the materials, content or trademarks.
%h5 Licenses
%p You are solely responsible for the User Content that you Publish on or through the Site. You hereby grant Knotebooks an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to (a) use, copy, publish, stream, store, retain, publicly perform or display, transmit, scan, reformat, modify, edit, frame, translate, excerpt, adapt, create derivative works and distribute (through multiple tiers), any User Content you (i) Publish on or in connection with the Site or the promotion thereof subject only to your privacy settings or (ii) enable a user to Publish, including by offering a Share Link on your website and (b) to use your name, likeness and image for any purpose, including commercial or advertising, each of (a) and (b) on or in connection with the Site or the promotion thereof. You represent and warrant that you have all rights and permissions to grant the foregoing licenses.
%h5 Submissions
%p You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information that you provide to Knotebooks ("Submissions"), are non-confidential and non-proprietary. Knotebooks will be entitled to the unrestricted use of any such Submission for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
%h5 User Disputes; Complaints
%p You agree not to hold Knotebooks responsible or liable for the User Content or actions of third parties (including your interactions with users) on or relating to the Site. This includes transactions conducted on the Site as well as the collection, handling and sharing of personal information that you provide to third parties. If you have a dispute with a third party relating to the Site, you release Knotebooks and its directors, officers, employees and agents (collectively, the "Knotebooks Entities") from any claims, causes of action and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such dispute. If you are a California resident, you waive California Civil Code §1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor."
%p If you believe that the Site or Knotebooks' business practices are in any way unfair, fraudulent or unlawful, you agree to bring it to the attention of Knotebooks' legal department. If you do not report the issue or continue using the service after discovering the issue, you expressly waive the right to claim that the Site is unfair, fraudulent or unlawful with respect to that issue.
%h5 Indemnity
%p You agree to indemnify and hold Knotebooks Entities harmless from and against any claim or cause of action brought by a third party as well as any related damages, costs and expenses (including reasonable attorneys' fees) ("Claim") arising out of or related to your (a) use of the Site or any of the applications, features, content or materials related thereto; (b) violation of these Terms; (c) violation of the rights of any other person or entity; or (d) breach of the representations, warranties and covenants made by you herein. Knotebooks reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify Knotebooks, and you agree to cooperate with Knotebooks' defense of these Claims.
%h5 Disclaimers
%p THE SITE, ALL KNOTEBOOKS CONTENT, AND ALL SERVICES, FEATURES AND APPLICATIONS OFFERED ON THE SITE ARE PROVIDED "AS IS" AND "AS AVAILABLE," WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMITTED BY LAW, KNOTEBOOKS EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO THE SITE, ANY AND ALL KNOTEBOOKS CONTENT, AND ANY AND ALL SERVICES, FEATURES AND APPLICATIONS OFFERED ON THE SITE, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND WARRANTIES OF TITLE AND NON-INFRINGEMENT. WITHOUT LIMITATION TO THE GENERALITY OF THE FOREGOING, KNOTEBOOKS DOES NOT WARRANT OR GUARANTEE THAT THE SITE, ANY KNOTEBOOKS CONTENT, OR ANY SERVICE, FEATURE OR APPLICATION OFFERED ON THE SITE, IS ERROR-FREE, UNINTERRUPTED, OR WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES. ACCORDINGLY, SOME OF THE ABOVE DISCLAIMERS MAY NOT APPLY TO YOU.
%p Should there be any conflict between the Creative Commons Attribution-Share Alike 3.0 License and the Terms of Use, the Terms shall control. If you have any questions about these Terms, please discontinue use of the Site and send inquiries to contact@knotebooks.com. And above all... have fun, you crazy kids.