.video_container.round_corners{ :class => cycle('left', 'right') }
  %h4= link_to "Here is Another With a Longer Title and Shorter Description"
  = link_to image_tag('/images/expansion.png')
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .video_footer
    .vid_author
      Added by
      = link_to "Joe Flip"
    .go_to_kb
      = link_to "View knotebook"
    .clear
.clear