.grid_3#new_knotebook_sidebar
  %h4 New Knotebook
  %hr
  .tips 
    Enter the title and abstract of your knotebook, then hit 
    %strong Create 
    to start adding knotes! (You can change this later.)